<a href="https://colab.research.google.com/github/denisoon/Simple-Charts-Matplotlib/blob/main/initializingPysparkSql.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting Pyspark
  Downloading pyspark-3.2.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 35 kB/s
Collecting py4j==0.10.9.3
  Downloading py4j-0.10.9.3-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 52.1 MB/s
Building wheels for collected packages: Pyspark
  Building wheel for Pyspark (setup.py) ... done
  Created wheel for Pyspark: filename=pyspark-3.2.1-py2.py3-none-any.whl size=281853642 sha256=16e0297cfb22eb2e5d035fe805a42e21aa2d82cf4fac1b75c3b2ed998f697009
  Stored in directory: /root/.cache/pip/wheels/9f/f5/07/7cd8017084dce4e93e84e92efd1e1d5334db05f2e83bcef74f
Successfully built Pyspark
Installing collected packages: py4j, Pyspark
Successfully installed Pyspark-3.2.1 py4j-0.10.9.3

In [38]:
import pyspark

In [57]:
import pandas as pd
pd.read_csv('/home/Book1.csv')

         Acct Managers        Qtr1        Qtr2        Qtr3        Qtr4
0          Aanya Zhang   $5,187.90   $7,627.17  $28,867.26     $742.53
1          Charlie Bui  $24,271.31     $130.78     $116.61     $355.15
2         Connor Betts     $854.08  $20,123.65   $3,050.18   $4,373.98
3     Leighton Forrest     $815.58   $1,129.69     $327.02  $16,169.12
4          Mihael Khan     $425.78     $981.27     $596.70     $470.74
5         Natasha Song   $5,080.74   $6,259.31   $4,265.86   $4,956.43
6   Nicholas Fernandes  $21,787.86   $1,533.62   $2,191.42   $2,384.04
7          Phoebe Gour   $5,117.84  $12,156.60     $351.06  $15,653.93
8       Preston Senome   $1,326.07   $1,415.98   $2,314.11   $2,817.60
9       Radhya Staples       $0.00       $3.32  $10,373.59     $206.16
10     Samantha Chairs   $2,233.62   $2,005.70   $1,542.68   $4,921.92
11       Stevie Bacata       $0.00      $91.10       $0.00       $0.00
12        Tina Carlton  $17,247.36   $2,512.24   $7,003.82   $2,952.73
13         Yvette Biti   $2,252.16   $1,476.92   $3,293.39   $7,731.78

In [52]:
from pyspark.sql import SparkSession

In [53]:
spark = SparkSession.builder.appName('Session1').getOrCreate()
spark

In [58]:
df_pyspark = spark.read.csv('/home/Book1.csv')

In [59]:
df_pyspark.show()

+------------------+----------+----------+----------+----------+
|               _c0|       _c1|       _c2|       _c3|       _c4|
+------------------+----------+----------+----------+----------+
|     Acct Managers|      Qtr1|      Qtr2|      Qtr3|      Qtr4|
|       Aanya Zhang| $5,187.90| $7,627.17|$28,867.26|   $742.53|
|       Charlie Bui|$24,271.31|   $130.78|   $116.61|   $355.15|
|      Connor Betts|   $854.08|$20,123.65| $3,050.18| $4,373.98|
|  Leighton Forrest|   $815.58| $1,129.69|   $327.02|$16,169.12|
|       Mihael Khan|   $425.78|   $981.27|   $596.70|   $470.74|
|      Natasha Song| $5,080.74| $6,259.31| $4,265.86| $4,956.43|
|Nicholas Fernandes|$21,787.86| $1,533.62| $2,191.42| $2,384.04|
|       Phoebe Gour| $5,117.84|$12,156.60|   $351.06|$15,653.93|
|    Preston Senome| $1,326.07| $1,415.98| $2,314.11| $2,817.60|
|    Radhya Staples|     $0.00|     $3.32|$10,373.59|   $206.16|
|   Samantha Chairs| $2,233.62| $2,005.70| $1,542.68| $4,921.92|
|     Stevie Bacata|     $0.00|    $91.10|     $0.00|     $0.00|
|      Tina Carlton|$17,247.36| $2,512.24| $7,003.82| $2,952.73|
|       Yvette Biti| $2,252.16| $1,476.92| $3,293.39| $7,731.78|
+------------------+----------+----------+----------+----------+